{% extends "layout.html" %}

{% block content %}

<h2>{{campaign}}</h2>

<div id="campaign-overall-stats"></div>

<div class="campaign-spec-charts" id="chart">
  <p>Sign Ups</p>
  <svg></svg>
</div>

<div class="campaign-spec-charts" id="chart2">
<p>New Members</p>
  <svg></svg>
</div>

<div class="campaign-spec-charts" id="chart5">
  <p>Reportbacks</p>
  <svg></svg>
</div>

<div class="campaign-spec-charts" id="chart6">
  <p>Impact</p>
  <svg></svg>
</div>

<div class="campaign-spec-charts" id="chart3">
  <p>Traffic Sources (Entrances)</p>
  <svg></svg>
</div>

<div class="campaign-spec-charts" id="chart4">
  <p>All Traffic</p>
  <svg></svg>
</div>

<script type="text/javascript">
var is_sms = {{is_sms|safe}}
var su = {{su|safe}};
var nm = {{nm|safe}};
var rb = {{rb|safe}};

if (is_sms === 0) {
  var impact = {{impact|safe}};
}
var srcs = {{srcs|safe}};
var overall = {{overall|safe}};
var traffic = {{traffic|safe}};
</script>
<script type="text/javascript" src="/static/js/campaign-new.js"></script>

{% endblock %}