{% extends "layout.html" %}

{% block content %}
	
<h2>Causes<h2>
		
<a  href="{{ url_for('hpStaffPicks') }}"> 
<div class = "c" id='c1'>
<div class = "text">
<b>Homelessness and Poverty</b>
</div>
</div>
</a>
<a  href="/groupbars"> 
<div class = "c" id='c2'>
<div class = "text">
<b>Sex and Relationships</b>
</div>
</div>
</a>
<a  href="/groupbars"> 
<div class = "c" id='c3'>
<div class = "text">
<b>Health</b>
</div>
</div>
</a>
<a  href="/groupbars"> 
<div class = "c" id='c4'>
<div class = "text">
<b>Environment</b>
</div>
</div>
</a>
<a  href="/groupbars"> 
<div class = "c" id='c5'>
<div class = "text">
<b>Education</b>
</div>
</div>
</a>
<a  href="/groupbars"> 
<div class = "c" id='c6'>
<div class = "text">
<b>Animals</b>
</div>
</div>
</a>
<a  href="/groupbars"> 
<div class = "c" id='c7'>
<div class = "text">
<b>Domestic Violence</b>
</div>
</div>
</a>
<a  href="/groupbars"> 
<div class = "c" id='c8'>
<div class = "text">
<b>Immigration</b>
</div>
</div>
</a>
<a  href="/groupbars"> 
<div class = "c" id='c9'>
<div class = "text">
<b>Finance</b>
</div>
</div>
</a>



{% endblock %}