{% extends "layout.html" %}

{% block content %}


<style>

.positive{
	fill:blue;
}

</style>
	<div class="jumbo">
		<div id="welcome">
		<h2>fetching...</h2>
		</div>
		<div id = "members">
		<h2 id="total_member_count">CURRENT MEMBERS: {{formatted_data}}</h2>
		</div>

	<div id="chart">
  <p>Net New Members, Past 90 Days</p>
  <svg></svg>
	</div>

	<div id="chart2">
  <p>Gross New Members, Past 90 Days</p>
  <svg></svg>
	</div>

	<div id="chart3">
  <p>Gross Opted-Out Members, Past 90 Days</p>
  <svg></svg>
	</div>

	</div>



<script type="text/javascript">


var x = {{data2|safe}};
var x2 = {{data3|safe}};
var x3 = {{data4|safe}};
var x4 = {{data5|safe}};
var x5 = {{data6|safe}};

</script>

<script type="text/javascript" src="/static/js/home-page.js"></script>






{% endblock %}
