{% extends "layout.html" %}

{% block content %}
<div class="campaign-spec-charts" id="chart">
    <h4>Active by Month</h4>
    <p class='metric_subheader'>Members that signed up to at least one campaign</p>
    <svg></svg>
 </div>

<div class='main_stats'>
    <div class='edit_stats' id='editable_text_active' contenteditable="true">
        This is a paragraph. It is editable. Try to change this text.
    </div>
    <div class='padding_div'></div>
    <div class='outer_averages'>
 	  <div class='innerstats' id='average_active_all'></div>
 	  <div class='innerstats' id='average_active_last_month'></div>
    </div>
    <!--makes submit button accessible to admin -->
    {% if user_role=='admin' %}
    <button type="button" id="my_button_active" class="kpi_button" onclick="submitText(this.id)">Submit</button>
    {%endif%}
</div>

 <div class="campaign-spec-charts" id="chart2">
    <h4>Verified by Month</h4>
    <p class='metric_subheader'>Members that reported back to at least one campaign</p>
    <svg></svg>
 </div>

<div class='main_stats'>
    <div class='edit_stats' id='editable_text_verified' contenteditable="true">
        This is a paragraph. It is editable. Try to change this text.
    </div>
    <div class='padding_div'></div>
    <div class='outer_averages'>
        <div class='innerstats' id='average_verified_all'></div>
        <div class='innerstats' id='average_verified_last_month'></div>
    </div>
    {% if user_role=='admin' %}
    <button type="button" id="my_button_verified" class="kpi_button" onclick="submitText(this.id)">Submit</button>
    {%endif%}
</div>

<div class="campaign-spec-charts" id="chart3">
    <h4>New by Month</h4>
    <p class='metric_subheader'>New members from web or mobile</p>
    <svg></svg>
 </div>

<div class='main_stats'>
    <div class='edit_stats' id='editable_text_new' contenteditable="true">
        This is a paragraph. It is editable. Try to change this text.
    </div>
    <div class='padding_div'></div>
    <div class='outer_averages'>
        <div class='innerstats' id='average_new_all'></div>
        <div class='innerstats' id='average_new_last_month'></div>
    </div>
    {% if user_role=='admin' %}
    <button type="button" id="my_button_new" class="kpi_button" onclick="submitText(this.id)">Submit</button>
    {%endif%}
</div>

<script type="text/javascript">
var active_data = {{active|safe}};
var verified_all_w = {{verified_all_w|safe}};
var verified_all_s = {{verified_all_s|safe}};
var new_data = {{new_m|safe}};
var q_text = {{q_text|safe}};
</script>

<script type="text/javascript" src="/static/js/kpi-page.js"></script>
{% endblock %}