{% extends "layout.html" %}

{% block content %}


<div class="chart" id="chart">
    <h4>Active by Month</h4>
    <p class='metric_subheader'>Members that signed up to at least one campaign</p>
    <svg></svg>
 </div>

 <div class='active_stats'>
 	<div class='stats' id='average_active_all'></div>
 	<div class='stats' id='average_active_last_month'></div>
 </div>

 <div class="chart" id="chart2">
    <h4>Web Verified by Month</h4>
    <p class='metric_subheader'>Members that reported back to at least one campaign</p>
    <svg></svg>
 </div>

  <div class='verified_stats'>
 	<div class='stats' id='average_verified_all'></div>
 	<div class='stats' id='average_verified_last_month'></div>
 </div>

 <div class="chart" id="chart4">
    <h4>SMS Verified by Month</h4>
    <p class='metric_subheader'>Members that reported back to at least one campaign</p>
    <svg></svg>
 </div>

  <div class='verified_stats'>
    <div class='stats' id='average_verified_all'></div>
    <div class='stats' id='average_verified_last_month'></div>
 </div>

<div class="chart" id="chart3">
    <h4>New by Month</h4>
    <p class='metric_subheader'>New members from web or mobile</p>
    <svg></svg>
 </div>

 <div class='new_stats'>
 	<div class='stats' id='average_new_all'></div>
 	<div class='stats' id='average_new_last_month'></div>
 </div>


<script type="text/javascript">
var active_data = {{active|safe}};
var verified_data_sms = {{verified_sms|safe}};
var verified_data_web = {{verified_web|safe}};
var new_data = {{new_m|safe}};
</script>

<script type="text/javascript" src="/static/js/kpi-page.js"></script>
{% endblock %}