<!DOCTYPE html>
<html>
	<head>
		<title>DoSomething Dash</title>

		<script type="text/javascript" src="/static/bower_components/d3/d3.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="/static/bower_components/nvd3/nv.d3.min.js" charset="utf-8"></script>
		<link rel="stylesheet" href="/static/bower_components/nvd3/nv.d3.min.css">
		<strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>
		<meta charset="utf-8">
	</head>
	<body>

		<header>
			<div class="container">
				<h1 class="logo">DoSomething Dash</h1>
				<strong><nav>
					<ul class="menu">
						<li><a href="{{ url_for('home') }}">Home</a></li>
						<li><a href="/cause/campaigns/all">Campaigns</a></li>
						<li><a href="{{ url_for('causes') }}">Causes</a></li>
						<li><a href="{{ url_for('monthly') }}">Monthly Stats</a></li>

					</ul>
				</nav></strong>
			</div>
		</header>
				{% block content %}
				{% endblock %}
	</body>
</html>
