{% extends "layout.html" %}

{% block content %}
<!--needed for messaging for authentication issues -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }} </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h2>Welcome!</h2>
<h3>Please sign in with your DoSomething email</h3>

<meta name="google-signin-client_id" content="591215977635-4le163h9esok61lvdena1qgf50sgfe5c.apps.googleusercontent.com">

<form action={{url_for('login')}} method="post" id ="login_form">

  <input type="hidden" name = 'email' id ="g_text_form" >
  <div class="g-signin2" data-onsuccess="onSignIn" onclick="loginFormSubmit()"</div>

</form>

<script src="https://apis.google.com/js/platform.js"></script>
<script type="text/javascript" src="/static/js/login.js"></script>

{% endblock %}