{% extends "layout.html" %}

{% block content %}

<h1>
	<center>D3 Bars</center>
	</h1>

		<script type="text/javascript">

			//Width and height
			var w = 1200;
			var h = 500;
			var padding = 3;


			var dataset = {{tmp}};
			
			// function to populate array with random numbers. Takes array name and number of points

			/*
			var rando = function(points,array) {
				for (i=0; i < points; i++) {
				var num = Math.round(Math.floor(Math.random()*1000));
				array.push(num);
			}};

			rando(40,dataset);	
			*/


			var mx = d3.max(dataset, function(d) {
				return d;
			});


			//make sure scaling the correct element
			var the_scale = d3.scale
							.linear()
							.domain([0,mx])
							.range([0,h-padding]);


			// variable bar lengths
							
			var barWidth = (w/dataset.length) - padding; 

			//replaces the above with ordinal scale


			var ord_scale = d3.scale.ordinal()
								.domain(d3.range(dataset.length))
								.rangeRoundBands([0, w], 0.05);

			//Create SVG element
			var svg = d3.select("body")
						.append("svg")
						.attr("width", w)
						.attr("height", h)
						.attr("class","svg");

			//ensure scale is targeting data value

			svg.selectAll("rect")
			   .data(dataset)
			   .enter()
			   .append("rect")
			   .attr("x", function(d,i) {
			   	return ord_scale(i);
			   })
			   .attr("y", function (d) {
			   	return h - the_scale(d);
			   })
			   .attr("width", ord_scale.rangeBand())
			   .attr("height",function (d) {
			   	return the_scale(d);})
			   .attr("class","rec");

			  d3.select("h1")
			  		.on("click", function() {

			  			new_dataset = [];
			  			rando(40,new_dataset);
			  			// update scale otherwise bar hight sized to old scale
			  			the_scale.domain([0, d3.max(dataset)]);

			  			svg.selectAll("rect")
			  					.data(new_dataset)
			  					.transition()
			  					/*
			  					//this makes each element delay
			  					.delay(function (d,i) {
			  						return i*100;
			  					})
			  					.ease("elastic")
			  					*/
			  					.duration(1000)
			  					.attr("y", function(d) {
			  						return h - the_scale(d);
			  					})
			  					.attr("height", function(d) {
			  						return the_scale(d);
			  					});
			  				});
			
		</script>


{% endblock %}