/*
tooltip for cause level bar charts
*/
#tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  ont-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

#tooltip2 {
      position: absolute;
      width: 200px;
      height: auto;
      padding: 10px;
      background-color: white;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
      pointer-events: none;
    }

#tooltip2.hidden {
  display: none;
}

#tooltip2 p {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

/*
non-nvd3 bar chart axis
*/
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering:crispEdges;
}

.axis text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

/*
staff pick/nonstaff pick buttons
*/


.tabs.-dashboard {
  float: right;
  padding: 12px 0 24px;
}

/*
welcome on homepage
 */
#welcome {
  animation: welcome-animation .7s;
  opacity:0;
  font-size:18px;
}

/*
welcome animation
 */
@keyframes welcome-animation {
  0% {
    opacity: 1;}

  100% {
    opacity: 0;}
}

/*
homepage member number
 */
#members {
  animation: home-animation .75s;
  position:relative;
  top:-90px;
  font-size:20px;
}

/*
member count animation
 */
@keyframes home-animation {

  0% {
    opacity: 0;
    color:orange;}

  100% {
  opacity: 0;}
}

/*
center overall stats grid
 */
.grid2 {

  text-align: center;
}

/*
grid of overall stats in campaign specific
 */
.overall{

   display: inline-block;
   width:375px;
   height:125px;
   text-decoration:none;
   border-radius:4px;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 12px;
   color:white;
   letter-spacing:.5px;
   background:#00CCFF;
   border: 1px solid;
   line-height:100px;
}

/*
text in campaign specific overall boxes
 */
.overall .words{

position:relative;
top:10px;
color:white;
}

/*
hover effect for campaign specific overall boxes
 */
.overall:hover {

  opacity:.5;
}

/*
override gridlines from nvd3 css
 */
.tick line {

  display: none;
}

/*
campaign specific charts sizing
 */

.campaign-spec-charts svg {
  height: 500px;
}

#top_title {
  padding-top: 15px;
}

/*
overriding nvd3 css for tooltip positioning
 */
.nvtooltip {

  margin-top:15%;
  font-size: 12px;
}

/*
p element containing no staff picks text
 */
p#nothing {

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top:10%;
  font-size: 1.8em;
  font-weight: 600;
  text-align: center;
  letter-spacing: .2px;
  color: #999;
}

/*
g in cause level bar
*/
.g{
  cursor:pointer;
}

.cause-space {
  border-radius: 2px;
  padding: 10px;
  margin: 0 5% 5% 0;
  background: #ddd;
  width: 45%;
  float: left;
}
.cause-space:hover {
  background: #eee;
  cursor: pointer;
}

.innerstats{
   float:left;
   width:100%;
   height:50px;
   line-height:45px;
   text-decoration:none;
   border-radius:4px;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 16px;
   color:white;
   letter-spacing:.5px;
   background:#00CCFF;
   border: 1px solid;
   text-align:center;
   vertical-align:middle;
}

.edit_stats {
  float:left;
  letter-spacing:.5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-align: left;
  width:59%;
  height:100px;
  background:#F0F0F0;
  padding:10px;
  border-radius:4px;
}

.main_stats {
  margin-left: auto;
  margin-right: auto;
  width:100%;
  height:120px;
}

.padding_div {
   float:left;
   width:2%;
   height:100px;
}

.outer_averages {
  float:left;
  width:39%;
  height:100px;
}

.kpi_button {
   top: 50%;
}

p.metric_subheader {

  letter-spacing:.5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#logout {
  float:right;
}

#login_button {
  border-radius:5px;
  cursor:pointer;
  background:#00CCFF;
  color:white;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:25px;
  font-weight:bold;
  padding:21px 63px;
  text-decoration:none;
  border-style:none;
}

#login_button:hover {
  background-color:#fbb917;
}

#daterange {
  padding-top: 15px;
}

.date_drop{
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:12px;
  font-weight:bold;
  width:100px;
  height:25px;
  float:left;
  padding-right: 5px;
}

#date_btn {
  cursor:pointer;
  border-radius:4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:white;
  letter-spacing:.5px;
  background:#37006E;
  border: 1px solid;
  width:150px;
  height:50px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

#date_btn:hover {
  background: #FFCC33;
}

#campaignlist_div {
  padding-top: 50px;
  width: 400px;
  margin-left: auto;
  margin-right:auto;
  text-align: center;
}

#campaignlist_div div {
  height:50px;
  cursor:pointer;
  border-radius:2px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right:auto;
  background: #00CCFF;
  width:300px;
}

#campaignlist_div p {
  color:white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  position:relative;
  top:12px;
  margin-left: auto;
  margin-right:auto;
}

#campaignlist_div div:hover {
  background: #FFCC33;
  cursor:pointer;
}

#campaign_searchbtn {
  float: right;
  padding: 10px 20px;
  border-radius: 2px;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#333333;
  font-size: 14px;
  background: #eee;
  border: 0;
  outline: none;
  font-weight:bold;

}

#campaign_searchbtn:hover {
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}


