/*
 * Display navigation links inline
 */
 
.menu {
  float: right;
  margin-top: 8px;
}
 
.menu li {
  display: inline;
}
 
.menu li + li {
  margin-left: 35px;
}
 
.menu li a {
  color: #999;
  text-decoration: none;
}




body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}
 
/*
 * Create dark grey header with a white logo
 */
  
header {
  background-color: #2B2B2B;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}
 
header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}
 
header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}
 
/*
 * Center the body content
 */
  
.container {
  width: 940px;
  margin: 0 auto;
}
 
div.jumbo {
  padding: 10px 0 30px 0;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
 
h2 {
  font-size: 2.2em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}
 
h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}

p {
    font-size: 1.5em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -1px;
}

div.bacon {
   
    background-color: #FF3366;
    opacity:.98;
    margin: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 35px;
    color: #FFFFFF;
    padding: 15px;
    width: 200px;
    

}

.rec {
        fill:#FF3333;
        opacity:.8;
      }

#svgMain {
        padding-top: 120px;
        display:block;
        margin-left:auto;
        margin-right:auto;

      }

.chart1 {

        padding-top: 10px;
        display:block;
        margin-left:auto;
        margin-right:auto;

      }
.chart2 {
        padding-top: 50px;
        display:block;
        margin-left:auto;
        margin-right:auto;

      }


rect:hover {
      fill: orange;
      opacity:.6;

    }

    
    
    #tooltip {
      position: absolute;
      width: 200px;
      height: auto;
      padding: 10px;
      background-color: white;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
      pointer-events: none;
    }
    
    #tooltip.hidden {
      display: none;
    }
    
    #tooltip p {
      margin: 0;
      ont-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 16px;
      line-height: 20px;
    }


#tooltip2 {
      position: absolute;
      width: 200px;
      height: auto;
      padding: 10px;
      background-color: white;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
      pointer-events: none;
    }
    
    #tooltip2.hidden {
      display: none;
    }
    
    #tooltip2 p {
      margin: 0;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 16px;
      line-height: 20px;
    }



.axis path,.axis line
 {
  fill: none;
  stroke: #000;
  shape-rendering:crispEdges;
  
}

.axis text {

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;

}








svg {
  font: 10px sans-serif;
}

div.rectangle{

   


   width:110px; 
   height:22px; 
   background:#A0A0A0;
   text-decoration:none;
   border-radius:5px; 
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 17px;
   color:white;
   text-align:center;
   
   vertical-align: middle;

 


 }

 div#one {
  position:absolute;
  top: 700px;
  left:590px;
  background:#A0A0A0;


 }

  div#two {

  position:absolute;
  top: 700px;
  left:710px;
  background:#33CCFF;
  
 }

 div#three {
  position:absolute;
  top: 700px;
  left:590px;
  background:#33CCFF;


 }

  div#four {

  position:absolute;
  top: 700px;
  left:710px;
  background:#A0A0A0;
  
 }




 div#query {
  

  width:200px;
  border:2px solid;
  border-radius:5px;
  display:block;
  margin-left:auto;
  margin-right:auto;
 }

 #apples 
 {
  padding-top:50px;
  display:block;
  margin-left:auto;
  margin-right:auto;}

  .box{
    background:orange;
  opacity:.3;

  }

div.grid{
  position:absolute;
  top: 170px;
  left:115px;

}

#front{

   


   width:400px; 
   height:150px; 
   text-decoration:none;
   border-radius:5px; 
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 13px;
   color:white;
   text-align:center;
   letter-spacing:1.2px;
   background:#00CCFF;
   float: left;
   border: 1px solid;
   

}

#front #title{

position:relative;
  top:20px;

}

#front .text {
  
  visibility:hidden;
  word-wrap: break-word; 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color:white;
}
#front:hover {
      opacity:.5;
      box-shadow: -5px 5px 5px #aaa;
     


    }
#front:hover #title{
      font-size: 0px;
      color: transparent;

     


    }

#front:hover .text{
  visibility:visible;
  position:relative;
  top:-90px;
  text-transform: uppercase;

   
}


