{% extends "layout.html" %}

{% block content %}
      
     
      <div class ="bacon">Love Letters</div>
      <div class ="bacon">Birthday Mail</div>
      <div class ="bacon">WYR 2014</div>
      <div class ="bacon">50 Cans</div>
      <div class ="bacon">Bullytext</div>
    
    

    <script type="text/javascript">
    d3.select("body").selectAll(".bacon")
    .data([550,670,750,800,920])
    .transition()
    .duration(2000)
    .style("width",function(d){return d + "px";})
    .text(function(d) { return d; })

    </script>

  <script>

  
  $(document).ready(function(){
    $('.bacon').mouseenter(function(){
      $(this).css("background-color","#66FFFF");

    });
    $('.bacon').mouseleave(function(){
      $(this).css("background-color","#FF3366");

    });

  });
</script>
  <h2>Campaign Sign Ups</h2>
  

{% endblock %}