{% extends "layout.html" %}

{% block content %}

<h2>Campaign Comparerer. er</h2>
<h3>Select a campaign. Then select another one. Finish by selecting a metric and click submit.</h3>
<div id = query>
<form>
<select name="Campaign 1" style=width:200px>
<option value="TFJ_2012">TFJ_2012</option>
<option value="TFJ_2013">TFJ_2013</option>
<option value="TFJ_2014">TFJ_2014</option>
<option value="GrandparentsGoneWired2013">GrandparentsGoneWired2013</option>
</select>

</form> 

<form>
<select name="Campaign 1" style=width:200px>
<option value="TFJ_2012">TFJ_2012</option>
<option value="TFJ_2013">TFJ_2013</option>
<option value="TFJ_2014">TFJ_2014</option>
<option value="GrandparentsGoneWired2013">GrandparentsGoneWired2013</option>
</select>

</form> 

<form name="input" action="http://127.0.0.1:5000/sortbars" method="get">
<select name="Metric" style=width:200px>
<option value="Sign Ups">Sign Ups</option>
<option value="New Members">New Members</option>
<option value="Reportbacks">Reportbacks</option>
<option value="Traffic">Traffic</option>
<option value="Conversion Rate">Conversion Rate</option>
</select>
<input type="submit" value="Submit">
</form> 

</div>

<img src="http://kenned.dk/~/media/Kenned/bom-compare.ashx" 
	alt="some_text" width="400" height="250" id="apples">







{% endblock %}