{% extends "layout.html" %}

{% block content %}


<form method="post" action="{{ url_for('test_action') }}">
  <label for="c1">Please enter campaign 1:</label>
  <input type="text" name="c1"/><br />
  <label for="c2">Please enter campaign 2:</label>
  <input type="text" name="c2" /><br />
 <label for="metric">Please enter your metric:</label>  
  <select name="metric">
	<option value="sign_ups">Sign Ups</option>
	<option value="new_members">New members</option>
	<option value="all_traffic">Traffic</option>
</select>
  <input type="submit" />
</form>
     

{% endblock %}